target/
dependency-reduced-pom.xml
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Gradle ###
.gradle/
build/

### Application runtime & secrets ###
config.properties
application.properties
src/main/resources/application.properties
.env
output/
*.log
